.nav {
    display: flex;
    background: rgb(75, 156, 62);
}

.nav h1 {
    text-align: center;
    margin: 30px 0px 0px 40px;
    position: relative;
}

.nav h1, .nav h2 {
    cursor: default;
}

.nav h1::after, .nav button {
    position: absolute;
}

.nav h1::after {
    content: '';
    bottom: 66px; 
    left: 0;
    width: 100%;
    border-bottom: 3px solid black; 
}

.nav button {
    cursor: pointer;
    right: 20px;
    top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
}

.nav h2 {
    margin: 70px 0 0 22%;
    font-size: 40px;
    padding-bottom: 20px;
}