.nav {
    display: flex;
    background: rgb(75, 156, 62);
}
.nav h1 {
    text-align: center;
    margin: 30px 0px 0px 0px;
    margin-left: 40px;
    position: relative;
    cursor: default;
}
.nav h1::after {
    content: '';
    position: absolute;
    bottom: 64px; 
    left: 0;
    width: 100%;
    border-bottom: 3px solid black; 
}
.nav button {
    cursor: pointer;
    right: 20px;
    top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    position: absolute;
}

.nav h2 {
    cursor: default;
    margin-left: 22%;
    margin-top: 70px;
    font-size: 40px;
    padding-bottom: 20px;
}